<nav class="navbar navbar-expand-lg bg-secondary border border-light-subtle">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= visualizer_index_path %>">
      <%= image_tag('logo.png', style: 'height: 30px; width: 30px;') %>
      Log Visualizer
    </a>
    <% if user_signed_in? %>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <%= link_to "Manage Log Files", visualizer_manage_files_path, class: 'nav-link' %>
            </li>
        </ul>
            <%= simple_form_for :user, url: destroy_user_session_path, method: :delete do |f| %>
                <%= f.button :submit, "Logout", class: "bg-danger border border-white" %>
            <% end %>                   
        </div>
    <% end %>
  </div>
</nav>